body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #0f172a;
  color: white;
}

.container {
  text-align: center;
  margin-top: 100px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 260px;
}

button {
  margin: 10px;
  padding: 12px 20px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.app header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.video-section {
  flex: 2;
}

video {
  width: 100%;
  border-radius: 10px;
}

.controls {
  flex: 1;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
