body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.videos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

video {
  width: 400px;
  border-radius: 10px;
}

.controls {
  margin-top: 20px;
}
